@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import './styles/normalice.css';

:root {
	/* Colors */
	--color-blue: #a0ebff;
	--color-purple: #dbceff;
	--color-red: #ce3131;
	--color-green: #13b176;
	--color-gray: #454545;
	--color-lightgray: #cfcfcf;
	--color-black: #090909;
	--color-white: #FFFFFF;
	--color-pink: #EA2845;

	/* Shadows */
	--shadow-sm: 0px 0px 8px rgba(69, 69, 69, 0.3);
	--shadow-md: 0px 0px 12px rgba(69, 69, 69, 0.5);

	/* Border-radius */
	--radius-sm: 0.5rem;
	--radius-md: 1rem;

	/* Fonts */
	--title-1: 2rem;
	--title-2: 1.5rem;
	--title-3: 1.25rem;
	--text-sm: 0.875rem;
}

body {
	color: var(--color-white);
	background-image: url(https://d33wubrfki0l68.cloudfront.net/b48d3f70dffd76bf3152ad04e2cbb1261ef589c9/header.1af6756a.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--color-black);
	background-attachment: fixed;
	font-family: 'Poppins', sans-serif;
}

/*#main {
  max-width: 1280px;
  margin: 0 auto;
}*/

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: var(--color-white);
}

.active {
	color: var(--color-pink);
}